@model IEnumerable<Nagarro.EmployeePortal.Web.NoticeModel>

<head>
    <link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
</head>

    <p>
        
        <a href="#" class="btn btn-sm btn-primary" data-action="create"><span class="glyphicon glyphicon-plus"></span> Create</a>
    </p>

@foreach (var item in Model)
{

    <div class="row">
        <div class="col-md-8 noticeHeading">
            @item.Title by @item.NotifierEmployeeName on <span data-type="date">@item.StartDate</span>
        </div>
        <div class="col-md-4 pull-right noticeHeading" data-noticeId="@item.NoticeId">
            @if (User.IsInRole("Admin"))
            {
                <a href="#" data-action="edit" class="CRUDImages"><img src="~/Images/edit.png" alt="Edit" height="30" width="30" /></a>
                <a href="#" data-action="delete" class="CRUDImages"> <img src="~/Images/delete.png" alt="Delete" /> </a>
            }

            <a href="#" data-action="details" class="CRUDImages"><img src="~/Images/details.png" alt="Details" height="30" width="30" /></a>
        </div>
        <p class="description"><br />@item.Description</p>
    </div>

}


<div id="divNotice">

</div>

@section scripts{

    <script src="~/scripts/NagarroEmployeePortalNotice.js" type="text/javascript"></script>

    <script type="text/javascript">
        $('[data-type="date"]').text(moment($('[data-type="date"]').text(), 'DD-MM-YYYY').format("MMMM Do YYYY"));
    </script>

    <script type="text/javascript">

        var options = {
            createUrl: '@Url.Action("CreateNotice", "Notice")',
            editUrl: '@Url.Action("EditNotice","Notice", new { noticeId = "{ { noticeId} } }" })',
            deleteUrl: '@Url.Action("DeleteNotice", "Notice")',
            detailUrl: '@Url.Action("NoticeDetails","Notice", new { noticeId = "{ { noticeId} } }" })',
            noticeIdPlaceholder: "{ { noticeId} } }"
        };

        var obj = new EmployeePortalNotice(options);
    </script>
}

